

<ActionBar class="action-bar" style="background-color: tomato;" flat="true">
    <Label class="action-bar-title" style="color: white;" text="Detaille Job"></Label>
</ActionBar>

<StackLayout class="main" verticalAlignment="top">




    <GridLayout rows="auto,auto,auto,auto" columns="auto,*" class="content" > 

        <StackLayout class="line anim-likes" row="2" width="100%" marginTop="10"></StackLayout>
        <GridLayout  class="anim-itemInfo" marginTop="15" row="1"
        width="100%" columns="0,*" rows="auto,auto,auto,auto"
        verticalAlignment="center">
        <Label text="Titre Offre " row="0" col="0" rowSpan="2"
           class="fa category-icon"></Label>
        <Label row="0" col="1" class="item-name" textwrap="true"
            verticalAlignment="bottom" horizontalAlignment="left" [text]="this.backend.offre.TITRE"></Label>

        <Label row="2" col="1" class="item-category" [text]="this.backend.offre.NOM_EMP"></Label>
  
        <StackLayout row="3" col="1">
            <button  style="background-color: tomato; color: white;border-radius: 20px" (tap)="Postuler()" class="pull-right" width="50%" text="Postuler"></button>
          </StackLayout> 
      
        
    </GridLayout>
  

    <StackLayout width="100%" class="lineBreak anim-likes">

        
    </StackLayout>
</GridLayout>
<ScrollView width="100%" height="100%">
    <Gridlayout rows="auto,auto,auto,auto,auto,auto,auto,auto,auto" class="content anim-content" marginTop="15">

  
        <!--Postes--> 
        <StackLayout row="0">
           
                <StackLayout verticalAlignment="top" horizontalAlignment="left"
                    >
                    <GridLayout rows="auto, auto, auto, auto, auto, auto" columns="*,*">
                        <Label row="0" col="0" text="Postes vacants" class="line1" style="font-weight: bold; font-size: 14;"></Label>
                        <Label row="0" col="1" [text]="this.backend.offre.NB_POSTES" class="line1"></Label>
      
                        <Label row="1" col="0" text="Experience" class="line3" style="font-weight: bold; font-size: 14;"></Label>
                        <Label row="1" col="1" [text]="this.backend.offre.EXPERIENCE" class="line3"></Label>
                       
                    </GridLayout>
                </StackLayout>
      
        </StackLayout>
       
        <GridLayout row="1" rows="auto" marginBottom="5" columns="auto, auto">
           
            <Label col="0" class="description-text" text="Description de l'emploi"
                textWrap="true"></Label>
        </GridLayout>

        <StackLayout row="2">
       
                <StackLayout verticalAlignment="top" horizontalAlignment="left"
                    >
                    <Textview editable="false" class="description-value"
                        textWrap="true" [text]="this.backend.offre.OFFRE_DESC">
                    </Textview>
                </StackLayout>
     
        </StackLayout>
       

        <GridLayout row="7" rows="auto" marginBottom="5" columns="auto, auto">
            <Label col="0" class="description-text" text="Date d'expiration : "
                textWrap="true"></Label>
                <Label  col="1"  class="description-value"
                textWrap="true" [text]="this.backend.offre.DATE_EXPIRATION">
            </Label>
        </GridLayout>


       

        

    </Gridlayout>
</ScrollView>
</StackLayout>