
    <StackLayout >
        <SearchBar hint="Mots clé ou adresse " [text]="searchPhrase"
         (textChange)="onTextChanged($event)" style="margin-bottom: 30px;"></SearchBar>
    <ScrollView  class="page">

        <StackLayout  >
    


            <StackLayout *ngFor="let item of this.backend.ListeOfOffres"  orientation="vertical" class="owe-list-item"  width="100%" (tap)="onButtonTap(item.ID_OFFRE)">
            <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto" class="owe-main-info">
                <Image row="0" col="0" src="~/Images/travel-category.png"
                    class="owe-category-icon"
                    verticalAlignment="top"></Image>
                <StackLayout row="0" col="1" orientation="vertical"
                    class="owe-info-container">
                    <Label class="owe-title" [text]="item.TITRE"></Label>
                    
                </StackLayout>
                <Label verticalAlignment="top" row="0" col="2"
                [text]="item.NOM_EMP" class="pay-amount"></Label>
            </GridLayout>
            <GridLayout columns="auto, *, auto" rows="auto"
                width="100%" height="auto" class="owe-secondary-info">
                <Label row="0" col="0" [text]="text_date+ (item.DATE_EXPIRATION  | date: 'dd/MM/yyyy')" class="time-information"></Label>
                
            </GridLayout>
            <Label class="divider" text=""></Label>
        </StackLayout>

 




        </StackLayout>
    </ScrollView>
</StackLayout> 