<GridLayout class="animate-fadeInUp-delay-0ms">
    <StackLayout *ngFor="let item of this.listpost"  orientation="vertical" class="owe-list-item"  width="100%" (tap)="onButtonTap(item.ID_OFFRE_POSTULER)">
        <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto" class="owe-main-info">
            <Image row="0" col="0" src="~/Images/travel-category.png"
                class="owe-category-icon"
                verticalAlignment="top"></Image>
            <StackLayout row="0" col="1" orientation="vertical"
                class="owe-info-container">
                <Label class="owe-title" [text]="item.TITRE"></Label>
                
            </StackLayout>
            <Label verticalAlignment="top" row="0" col="2"
            [text]="item.NOM" class="pay-amount"></Label>
        </GridLayout>
        <GridLayout columns="auto, *, auto" rows="auto"
            width="100%" height="auto" class="owe-secondary-info">
            <Label row="0" col="0" [text]="text_date+ (item.DATE_POSTULER  | date: 'dd/MM/yyyy')" class="time-information"></Label>
            
        </GridLayout>
        <Label class="divider" text=""></Label>
    </StackLayout>
</GridLayout>