Scrollview{
    background-color: #ffffff;
}

Image {
    height: 20%;
    margin-bottom: 10px;

}

TextField {
    color : black;
    placeholder-color: black;
    
}

button {
    background-color: #fb7c6e;
    font-size: 18px;
    
}

.login-label {
    color : black;
}




