

<Page
   xmlns="http://schemas.nativescript.org/tns.xsd"
   xmlns:datetime="nativescript-datetimepicker">


<GridLayout class="home" rows="16,124,*,48" columns="*,*">
    <!-- Add your page content here -->

    <Image row="0" col="0" rowSpan="2" colSpan="2" src="~/images/cloud.png"
        horizontalAlignment="center" verticalAlignment="bottom" stretch="aspectFit"
        class="cloud animate-bounceInLeft-delay-100ms"></Image>

    <GridLayout row="1" col="0" colSpan="2" rows="30,20,4,20,30" columns="6,32,6,6,48,6,6,32,6,6,48,6,6,32,6"
        horizontalAlignment="center" verticalAlignment="top" class="stepper-content">
        <Label row="2" col="2" rowSpan="1" colSpan="5" class="line-stepper animate-bounceInLeft-delay-1100ms"></Label>
        <Label row="2" col="8" rowSpan="1" colSpan="5" class="line-stepper animate-bounceInLeft-delay-2100ms"></Label>
        <Label row="1" col="0" rowSpan="3" colSpan="3" text="1" id="itemStepper1"
            class="item-stepper current-step animate-bounceInDown-delay-600ms"></Label>
        <Label row="1" col="6" rowSpan="3" colSpan="3" text="2" id="itemStepper2"
            class="item-stepper animate-bounceInDown-delay-1600ms"></Label>

        <Label row="1" col="12" rowSpan="3" colSpan="3" text="3" id="itemStepper3"
            class="item-stepper animate-bounceInDown-delay-2600ms"></Label>
        <StackLayout row="0" col="0" rowSpan="1" colSpan="3" opacity="0" id="itemImageStepper1">
            <Rotate3D rotateAxis="Y" cameraDistance="2000" class="item-image--stepper"
                [rotate]="rotateItemImageStepper1"></Rotate3D>
        </StackLayout>
        <StackLayout row="0" col="6" rowSpan="1" colSpan="3" opacity="0" id="itemImageStepper2">
            <Rotate3D rotateAxis="Y" cameraDistance="2000" class="item-image--stepper"
                [rotate]="rotateItemImageStepper2"></Rotate3D>
        </StackLayout>
        <StackLayout row="0" col="12" rowSpan="1" colSpan="3" id="itemImageStepper3"
            opacity="0">
            <Rotate3D rotateAxis="Y" cameraDistance="2000" class="item-image--stepper"
                [rotate]="rotateItemImageStepper3"></Rotate3D>
        </StackLayout>
    </GridLayout>


    <GridLayout row="2" col="0" colSpan="2" [ngSwitch]="currentStep" height="100%">
            <PreviousNextView *ngSwitchCase="1"  >
                {{GetDataPage1()}}
                <GridLayout rows="auto, auto, auto,auto"  >
                    <StackLayout row="0" class="input-field">
                        <TextField row="0" id="email"   class="input" hint="Adresse Email"
                        keyboardType="email"   autocorrect="false" [(ngModel)]="user.LOGIN"
                        autocapitalizationType="none"></TextField>
                    <Label id="emailreq" row="1" *ngIf="isrequired"  [text]="MessageError" class="login-input-field "  style="color: red;"></Label>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout> 
    
                    <StackLayout row="1" class="input-field">
                        <TextField id="password" class="input" style="margin-top: 30px;"
                            hint="Mot de passe" secure="true" ></TextField>
                            <Label id="passwordreq" *ngIf="isrequiredPassword"  [text]="MessageErrorPassword" class="login-input-field "  style="color: red;"></Label>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>

                    <StackLayout row="2" class="input-field">
                        <TextField id="confirmepassword" class="input" style="margin-top: 30px;"
                            hint="Confirmer le mot de passe " secure="true" [(ngModel)]="user.PASSWORD" ></TextField>
                            <Label id="emailreq" *ngIf="isrequiredPassword"  [text]="MessageErrorPassword" class="login-input-field "  style="color: red;"></Label>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                </GridLayout>
            </PreviousNextView>
 

            <PreviousNextView *ngSwitchCase="2" >
           
                <GridLayout rows="auto, auto, auto,auto,auto">
                    <StackLayout row="0" class="input-field">
                        <TextField class="input" id="Nom" hint="Nom" [(ngModel)]="candidat.NOM"></TextField>
                        <Label  *ngIf="RequiredLabel==1"  [text]="MessageError" class="login-input-field "  style="color: red;"></Label>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
    
                    <StackLayout row="1" class="input-field">
                        <TextField  class="input" id="Prenom" [(ngModel)]="candidat.PRENOM" hint="Prénom" style="margin-top:5px;"></TextField>
                            <Label *ngIf="RequiredLabel==2"  [text]="MessageError" class="login-input-field "  style="color: red;"></Label>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                    <StackLayout row="2" class="input-field">
                        <datetime:DatePickerField hint="Date de naissance" id="SelectDate" [(ngModel)]="candidat.DATE_NAISSENCE"  class="input" style="margin-top:px;"  dateFormat="dd/MM/yyyy"/>
                        <Label  *ngIf="RequiredLabel==3"  [text]="MessageError"  class="login-input-field "  style="color: red;"></Label>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                    <StackLayout row="3" class="input-field">
                        <TextField  class="input" id="Cin" [(ngModel)]="candidat.CIN" style="margin-top:5px;"
                            hint="Cin" ></TextField>
                            <Label  *ngIf="RequiredLabel==4"  [text]="MessageError" class="login-input-field "  style="color: red;"></Label>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                    <StackLayout row="4" class="input-field">
                        <TextField  class="input"
                            hint="Telephone" id="Num de Téléphone"  [(ngModel)]="candidat.TELEPHONE" style="margin-top:1px;"></TextField>
                            <Label *ngIf="RequiredLabel==5"  [text]="MessageError"  class="login-input-field "  style="color: red;"></Label>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
             
                </GridLayout>
            </PreviousNextView>

            <PreviousNextView *ngSwitchCase="3" >
                {{GetDataPage3()}}
                <ScrollView width="100%" height="100%">
                <GridLayout rows="auto, auto, auto,auto">
                    <StackLayout row="0" class="input-field">
                        <Label style="padding: 10px; size: 15px; margin: 15px;" text="{{linkFile}}"> </Label>
                        <Button class="btn btn-outline" text="Uploade File" (tap)="openCustomFilesPicker()"></Button>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
    
                    <StackLayout row="1" class="input-field">
                        <Image *ngIf = "myImage" class="ImageCss" src="{{myImage}}" ></Image>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                    <StackLayout row="2" class="input-field">
                   <Button class="btn btn-outline" text="Uploade Image" (tap)="getPicture()"></Button>
                        <!-- <TextField  class="input"
                            hint="Photo" ></TextField>-->
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout> 
                    <StackLayout row="3" class="input-field">
                        <TextField  class="input" [(ngModel)]="candidat.ADRESSE"
                            hint="Adresse" id="Adresse"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                </GridLayout>
            </ScrollView>
            </PreviousNextView>
       
         
    </GridLayout>

    <GridLayout row="3" col="0" columns="*,*" colSpan="2" class="bottom-content">
        <Button  row="0" col="0" text="Etape Précédente" (tap)="animateBackward()"
            class="btn-previous" id="btnPrevious"></Button>
        <Button  row="0" col="1" text="Suivant" (tap)="animateGoForward()" class="btn-next"
            id="btnNext"></Button>
    </GridLayout>

    <GridLayout row="0" col="0" rowSpan="4" colSpan="2" opacity="0" class="overlay"
        id="overlayGridLayout"></GridLayout>
    <GridLayout row="0" col="0" rowSpan="4" colSpan="2" rows="auto, auto, auto" 
        columns="*,*" verticalAlignment="center" visibility="hidden" opacity="0"
        class="select-date" id="selectDateGridLayout">
        <Label row="0" col="0" colSpan="2" text="Select Date" class="title-select-date"></Label>
        <DatePicker row="1" col="0" colSpan="2" [(ngModel)]="dateSelector"
            (dateChange)="onDateChanged($event)" verticalAlignment="center"></DatePicker>
        <Button row="2" col="0" text="Cancel" class="btn-next" (tap)="onCloseSelectDate(true)"></Button>
        <Button row="2" col="1" text="OK" class="btn-previous" (tap)="onCloseSelectDate(false)"></Button>
    </GridLayout>
</GridLayout>