/* Add mobile styles for the component here.  */
/*
* orange: #f6bd00
* blue: #024184
* gris: #636363
*/

ActionBar {
    background-color:  red;
    color: white;
}

ListView {
    separator-color: transparent;
}

.item-stepper {
    color: #ffffff;
    font-weight: bold;
    border-color: #cccccc;
    border-width: 1;
    text-align: center;
    background-color: #cccccc;
    clip-path: polygon(50% 0%, 100% 21%, 89% 76%, 50% 100%, 12% 76%, 0 22%);
    padding: 10 0;
}

.current-step {
    background-color: #ee6233;
    color: #ffffff;
    border-color: #ffffff;
}

.error{

    color: red;
    border: red;
    
}
.login-input-field {
    margin-left: 50px;
    color:black;

  }
  .login-password-field {
    padding-left: 10;
  }
.successful-step {
    background-color: green;
    color: white;
    border-color: white;
}

.line-stepper {
    background-color: #ee6233;
    border-width: 1;
    border-color: #ee6233;
}

.item-image--stepper {
    width: 100;
    height: 30;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    background-image: url("~/images/airplane.png");
}

.home {
    background-color: #ee8133;
}

.cloud {
    width: 360;
    margin-top: 24;
}

.body {
    background-color: #ffffff;
}

.btn-next {
    background-color: #ee6233;
    color: #ffffff;
    padding: 10 15;
    font-weight: bold;
}

.btn-previous {
    background-color: #ee6233;
    color: white;
    padding: 10 15;
    border: white;
    font-weight: bold;
}

.btn-previous:disabled {
    background-color: black;
}

.btn-next:disabled {
    background-color: #cccccc;
}

.bottom-content {
    background-color: #ee8133;
}

.arrow-next {
    font-weight: bold;
    color: #024184;
}

/* Select Date */

.overlay {
    background-color: #024184;
    opacity: 0.5;
}

.select-date {
    background-color: #ffffff;
    margin: 0 24;
    border-radius: 10;
}

.title-select-date {
    padding: 16 0 4 0;
    text-align: center;
    color: #024184;
    font-weight: 500;
}
.ImageCss{
    width: 768px;
    height: 768px;
    margin-top: 5;
    margin-bottom: 5;
}